<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
       {% load static %}
    <link href="{% static '/blog01/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static '/blog01/mycss.css' %}" rel="stylesheet">
    <link href="{% static '/blog01/article_detail.css' %}" rel="stylesheet">
    <script src={% static 'blog01/jquery-3.2.1.min.js' %}></script>
    <script src={% static '/blog01/bootstrap/js/bootstrap.min.js' %}></script>
{#    <style>#}
{#        *{#}
{#            margin: 0;#}
{#            padding: 0;#}
{#        }#}
{#        .header{#}
{#            width: 100%;#}
{#            height: 60px;#}
{#            background-color: blue;#}
{#        }#}
{#        .header .title{#}
{#            font-size: 20px;#}
{#            font-weight: 100;#}
{#            line-height: 60px;#}
{#            color: white;#}
{#            margin-left: 20px;#}
{#        }#}
{#        .backend{#}
{#            float: right;#}
{#            color: white;#}
{#            text-decoration: none;#}
{#            margin-right: 20px;#}
{#            margin-top: 10px;#}
{#            font-size: 15px;#}
{#        }#}
{#         .pub_info{#}
{#            margin-top: 10px;#}
{#             color: darkgray;#}
{#        }#}
{##}
{#        .pub_info .glyphicon-comment{#}
{#            vertical-align: -1px;#}
{#        }#}
{##}
{#    </style>#}
</head>
<body>
<div class="header">
    <div class="container1">
        <p class="title">
            <span>{{ blog.title }}</span>
            <span><a href="{% url 'cn_backend' %}" class="backend">管理</a></span>
        </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-3 menu">
              {% load my_tags %}
            {% get_classification_style username %}
        </div>
        <div class="col-lg-9">
            {% block content %}

            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>